@mixin color-helpers($name, $color) {
  .has-background-#{$name} {
    background-color: $color;
  }
  .has-text-#{$name} {
    color: $color;
  }
}

$color-scheme: (
  'melon': #ffa69e,
  'eggshell': #faf3dd,
  'aero-blue': #b8f2e6,
  'powder-blue': #aed9e0,
  'black-coral': #5e6472,
);

@each $name, $color in $color-scheme {
  @include color-helpers($name, $color);
}
