@charset 'utf-8';
@import '~bulma/sass/utilities/initial-variables';
@import './color-scheme.scss';

// change Bulma defaults

$tablet: 768px;
$primary: map-get(
  $map: $color-scheme,
  $key: 'melon',
);
$pimary-invert: $white;
$scheme-main: map-get(
  $map: $color-scheme,
  $key: 'powder-blue',
);
$scheme-main-bis: adjust-color(
  $color: $scheme-main,
  $lightness: -2%,
);
$scheme-main-ter: adjust-color(
  $color: $scheme-main,
  $lightness: -4%,
);
$link: map-get(
  $map: $color-scheme,
  $key: 'aero-blue',
);

@import '~bulma/bulma'; // Main styles / variables

@import './cards.scss';

.notification {
  text-align: center;
}
