<div class="card accent" id="comment">
  <div class="card-header">
    <h2 class="title is-4 px-1 py-2">
      {{#if id}}
      Add comment
      {{else}}
      Submit new Post
      {{/if}}
    </h2>
  </div>
  <div class="card-content">
    <form id="post" data-parent="{{id}}">
      <div class="field">
        <label class="label" for="title">Title</label>
        <div class="control">
          {{#if id}}
          <input class="input" type="text" id="title" name="title" value="comment">
          {{else}}
          <input class="input" type="text" id="title" name="title">
          {{/if}}
        </div>
      </div>
      <div class="field">
        <label class="label" for="body">Body</label>
        <div class="control">
          <textarea class="textarea" id="body" name="body"></textarea>
        </div>
      </div>
      <input class="button" type="submit" value="Submit">
    </form>
  </div>
</div>
<script src="/js/create-post.js"></script>