<div class="card">
  <div class="card-header">
    <h2 class="title is-2">Submit new Post</h2>
  </div>
  <div class="card-content">
    <form id="post" data-parent="{{id}}">
      <div class="field">
        <label class="label" for="title">Title</label>
        <div class="control">
          <input class="input" type="text" id="title" name="title">
        </div>
      </div>
      <div class="field">
        <label class="label" for="body">Body</label>
        <div class="control">
          <textarea class="textarea" id="body" name="body"></textarea>
        </div>
      </div>
      <input type="submit" value="Submit">
    </form>
  </div>
</div>
<script src="/js/post.js"></script>