<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <header>
    <h1>Threaddy!</h1>
    <nav>
      <ul>
        {{#if loggedIn}}
        <li><a href="#">{{username}}</a></li>
        <li><a hred="#">Log Out</a></li>
        {{else}}
        <li><a href="#">Log In</a></li>
        {{/if}}
      </ul>
    </nav>
  </header>
  {{{body}}}
</body>

</html>