<div class="notification is-danger">
  <p>Are you sure? Your account will be permanently deleted -- THIS CANNOT BE UNDONE.</p>
  <p><a id="delete-user" data-id="{{session.user.id}}">Click here to delete account.</a></p>
</div>
<script src="/js/delete-user.js"></script>