{{#if session.isLoggedIn}}
<div class="columns is-centered">
  <div class="column is-one-third">
    <div class="notification is-link">
      <a href="/submit">Submit new post</a>
    </div>
  </div>
</div>
{{/if}}
{{#each post}}
{{> view_post session=../session}}
{{/each}}