{{#if (is_login loginType)}}
<p>New user? <a href="/signup">Create an account here.</a></p>
{{else}}
<p>Already have an account? <a href="/login">Login here.</a></p>
{{/if}}
<form id="login" data-login-type="{{loginType}}">
  <label for="username">Username:</label>
  <input type="text" autocomplete="username" id="username" name="username">
  <label for="password">Password:</label>
  <input type="password" autocomplete="current-password" id="password" name="password">
  <input type="submit" value="Submit">
</form>
<script src="/js/login.js"></script>