<div>
  <h2>{{user.username}}</h2>
  <p>Member for {{relative_time user.createdAt}}</p>
</div>
{{#if session.isLoggedIn}}
<a href="/posts">Submit new post</a>
{{/if}}
<div>
  <h3>Posts</h3>
  {{#each post}}
  {{> view_post}}
  {{/each}}
</div>